*, a, ul, li {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: roboto;
  list-style-type: none;
  text-decoration: none;
}

.contenedor_principal {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url("../img/bg/mainbg.jpg");
  background-position: center;
  background-size: cover;
}
.contenedor_principal .contenedor_formulario {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  align-items: center;
}
.contenedor_principal .contenedor_formulario:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  -webkit-box-shadow: 1px 1px 10px #492C5B;
          box-shadow: 1px 1px 10px #492C5B;
}
.contenedor_principal .contenedor_formulario .titulo_empresa {
  padding: 1em;
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(0);
          filter: invert(0);
}
.contenedor_principal .contenedor_formulario .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contenedor_principal .contenedor_formulario .form .label .codigo_input {
  all: unset;
  padding: 1em;
  background: #D8D6D6;
}
.contenedor_principal .contenedor_formulario .form .boton {
  all: unset;
  width: 5rem;
  height: 100%;
  color: yellow;
  text-align: center;
  background: black;
  padding: 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contenedor_principal .contenedor_formulario .form .boton:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: GREY;
}