@use 'variables' as *;

.contenedor_principal{
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
	background: white;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	font-weight: 900;
	justify-content: center;
	align-items: center;
	@media screen and (max-width: 480px) {
		font-size: .7rem;
	}
	.contenedor_formulario{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 400px;
		height: 500px;
		position: relative;
		align-content: center;
		justify-content: center;
		align-items: center;
		text-align: center;
		box-shadow: 1px 1px 5px black;
		@media screen and (max-width: 480px) {
		}
		
		.imagen_logo{
			object-fit: contain;
			aspect-ratio: 1/1;
			width: 50%;
			align-items: 100%;
			padding: 1em 0;
		}
		.form{
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			align-content: center;
			.label{
				margin-bottom: 1em;
				.codigo_input{
					all: unset;
					padding: 1em;
					background: #D8D6D6;
				}
			}
			.boton{
				width: 5rem;
				height: 100%;				
				@include botones;				
				@include botoneshover;

			}
		}
	}
}