$bg-color: white;
$bg-color2: #C3C3C3;
$color1: #131313;
$color2: #262626;



@mixin botones{
	all: unset;
	color: yellow;
	text-align: center;
	background: $color1;
	padding: 1em;
	transition: all .3s ease;
	position: relative;
	z-index: 1;

}
@mixin botoneshover{
	&:hover{
		color: $bg-color;
		cursor: pointer;
		transition: .3s;
		background: $color2;
	}
}